data-factory/pipeline/CosmosDB_Import_Master.json
{
	"name": "CosmosDB_Import_Master",
	"properties": {
		"description": "This is the generic pipeline to ingest Cosmos DB data sources into the data lake",
		"activities": [
			{
				"name": "FEL - Loop through tasks to run",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@json(string(pipeline().parameters.task_json))",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "SWT - Check the target file type",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "AF - Get the task config",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@json(string(activity('AF - Get the task config').output))['target']['file_type']",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "parquet",
										"activities": [
											{
												"name": "EP - CosmosDB_Import_Parquet",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "CosmosDB_Import_Parquet",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"config": {
															"value": "@activity('AF - Get the task config').output",
															"type": "Expression"
														},
														"task_path": {
															"value": "@json(string(item()))['task_path']",
															"type": "Expression"
														},
														"databricks_cluster_id": {
															"value": "@pipeline().parameters.databricks_cluster_id",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "AF - Get the task config",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "read-yaml-config",
								"method": "POST",
								"body": {
									"value": "@concat('{\"task_path\": \"', json(string(item()))['task_path'], '\"}')",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "Data_Platform_Function",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"system_name": {
				"type": "string",
				"defaultValue": "CosmosDB Import to Lake - Hub"
			},
			"task_json": {
				"type": "string"
			},
			"databricks_cluster_id": {
				"type": "string",
				"defaultValue": "0615-095233-862lz1kg"
			}
		},
		"folder": {
			"name": "Ingestion"
		},
		"annotations": []
	}
}